body {
	background-color: #ebebeb;
  margin: 0;
}

/* navbar */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position:  fixed;
  top:  0;
  width:  100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#navname {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: grey;
  color: black;
}

.active {
  background-color: white;
  color: black;
}
/* content */

#nav {
	height: 50px;
	width: 100%;
}

#top {
  text-align: center;
  width: 100%;
  font-family: sans-serif;
  letter-spacing: 5px;
  font-weight: 30px;
  font-size: 40px;
}

.section {
  text-align: center;
  width: 100%;
  font-family: sans-serif;
  font-weight: 30px;
  font-size: 30px;
}

.sub {
  width: 25%;
}

img {
  width: 100%;
  border-color: black;
  border-width: 10px;
  border-radius: 5px;
  border-style: solid;
}

.title {
  
}

p a{
  font-size: 25px;
  background-color: grey;
  color:  white;
  padding: 10px 10px 10px 10px;
  border-style: solid;
  border-width: 15px;
  border-radius: 30px;
  border-color: black;
  text-decoration: none;
}

p a:hover:not(.active) {
  background-color: white;
  color:  black;
}

.section1 {
  width: 100%;
  background-color: #2e2e2e;
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

.section2 {
  width:  100%;
  background-color: #ffffff;
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

/* contacts */
#bottom {
	background-color: #bababa;
	width: 100%;
}

.contact {
	color:  #black;
	display:  inline-block;
}

#info {
	margin-left: 20px;
}

#profile {
	float:  right;
	margin-right:  20px;
}