body {
	background-color: #ebebeb;
  margin: 0;
}

/* navbar */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position:  fixed;
  top:  0;
  width:  100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#navname {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: grey;
  color: black;
}

.active {
  background-color: white;
  color: black;
}
/* content */

#nav {
	height: 50px;
	width: 100%;
}

#first-image {
  width: 25%;
  float:  left;
}

#first-text {
  width: 75%;
  float:  left;
}

#headshot {
  margin-left: 150px;
  height: 350px;
  border-style: solid;
  border-width: 15px;
  border-radius: 30px;
}

#welcome {
  display:  flex;
  flex-wrap: wrap;
  width: 100%;
  background-color: #2e2e2e;
  padding-bottom: 50px;
  flex-direction: row;
  justify-content: space-around;
}

#head {
  font-size: 50px;
  color: white;
  text-align: center;
  padding-top: 20px;
  width: 100%;
}

#description {
  margin-top: 100px;
  width: 75%;
  float: right;
  color: grey;
  text-align: center;
  margin-right: 150px;
  font-size: 25px;
}

/* contacts */
#bottom {
	background-color: #bababa;
	width: 100%;
}

.contact {
	color:  #black;
	display:  inline-block;
}

#info {
	margin-left: 20px;
}

#profile {
	float:  right;
	margin-right:  20px;
}