body {
	background-color: #ebebeb;
  margin: 0;
}

/* navbar */
ul.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position:  fixed;
  top:  0;
  width:  100%;
}

li {
  float: left;
}

li.navbar a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#navname {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li.navbar a:hover:not(.active) {
  background-color: grey;
  color: black;
}

li a.active {
  background-color: white;
  color: black;
}
/* content */

#nav {
	height: 50px;
	width: 100%;
}

h1 {
  text-align: center;
}

/* contacts */
#bottom {
	background-color: #bababa;
	width: 100%;
}

.contact {
	color:  #black;
	display:  inline-block;
}

#info {
	margin-left: 20px;
}

#profile {
	float:  right;
	margin-right:  20px;
}